{
  "endOfLine": "auto",
  "semi": false,
  "singleQuote": true,
  "doubleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "parser": "typescript",
  "bracketSpacing": true,
  "arrowParens": "avoid"
}